.jumbotron {
  min-height: 300px;
  padding-top: 75px;
  padding-bottom: 250px;
/*  background-image: url("./logo2.jpg");
*/  background-size: 100% auto;
  background-position: 45%;
  color: #003366;
  background-color: #ffffff;
  margin: 10px;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-color: #453d3d;

}

/*span.percent {
  opacity: 1;
}*/

#emailthing{
	bottom: 50px;
	position: relative;
}

a.redLink {
	display: block;
	text-align: center;
	color: #453d3d;
	/*margin-left: 230px;*/
	font-weight: bold;
	font-size: 15px;
}

.funcList{
	border-style: solid;
	border-width: 0px 0px 2px 0px;
	border-color: #453d3d;
	font-family: 'Crete Round', serif;

}

h2{
	text-align: center;
	color: #887f7f;
	font-size: 20px;
}

#mainlogo{

}

.btn-success{
    color: #453d3d;
    background-color: #ffffff;
    border-color: #453d3d;
}

.btn-success:focus, .btn-success.focus {
    color: #ffffff;
    background-color: #887f7f;
    border-color: #453d3d;

    }

 .btn-success:hover{
    color: #ffffff;
    background-color: #887f7f;
    border-color: #453d3d;
    }   

 .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
    color: #ffffff;
    background-color: #453d3d;
    border-color: #453d3d;
    
   }   
.btn-success:focus, .btn-success.focus {
    color: #ffffff;
    background-color: #453d3d;
    border-color: #453d3d;
}

.btn-success:active:hover, .btn-success.active:hover, .open>.dropdown-toggle.btn-success:hover, .btn-success:active:focus, .btn-success.active:focus, .open>.dropdown-toggle.btn-success:focus, .btn-success:active.focus, .btn-success.active.focus, .open>.dropdown-toggle.btn-success.focus {
    color: #ffffff;
    background-color: #453d3d;
    border-color: #453d3d;

}

