.page-footer{
	  /*margin-bottom: 0;*/
   	background-color: #ffffff;
  	color: #887f7f;
  	border-type: solid;
  	border-top: 5px solid;
  	border-color: #453d3d;
  	box-shadow: 2px 2px;
  	font-family: 'Crete Round', serif;;
  	position: absolute;
	  bottom: 0;
	  width: 100%;
	  height: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-copyright{
	text-align: center;
}

main.wrapper{
  height: 100%;
  position: relative;
  padding-bottom: 225px;
}

/*.wrapper{ 
  position: relative;
  padding-bottom: 100px; 
  }*/